@charset "utf-8";

.container
{
	width: 100%;
	padding:0;
}

.navbar-brand
{
	padding: 0;
}

.navbar-default
{
	padding-left: 2%;
	background-color:  #ccffdd;
}

p, li {
	font-size: 18px;
}


.content
{
	margin: 2%;
	text-align: justify;
}

#copyright
{
	background-color:  #65CE82;
	position: relative;
	float: left;
	width: 100%;
	font-size: 12px;
	padding: 2% 1% 2% 2% ;

}

#footer
{
	margin-top: 2%;
	background-color:  #ccffdd;
	color: #777;
	position: relative;
	float: left;
	font-size: 16px;
	padding: 1% 2%;
	font-weight: bold;
	font-family: 'Alegreya Sans', sans-serif;
	width: 100%;
}

h2 {
	color: rgb(111,158,46);
}

a:link {
	color: #4CAF50;
	text-decoration: none;
}

a:visited {
    color:#A0C91E;
}

a:hover {
    color: rgb(136,211,32);
    text-decoration: underline;
}

label{
	margin-bottom: 8px;
}

.btn {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    cursor: pointer;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
}
.main-center{
 	margin: 0 auto;
 	max-width: 400px;
    padding: 10px 40px;
	background:#ccffdd;
	    color: #777;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}
.input-group-addon  {
    color: #777;
    font-size: 17px;
}

.row
{
	margin: 0;
}

.redcolor
{
	color: red;
}

#calendar
{
	text-align: center;
}

#order
{
	margin-left: 1%;
}

select
{
	text-align:center;
}

